/*generelt*/
/*HEADER FOOTER MAIN*/

header {
  background-color: #addfe5;
  position: sticky;
}

footer {
  color: #547276;
  background-color: #a2cdd4;
}

main {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    /* box-shadow: inset 0 0 5px grey; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1bfbfb7;
    border-radius: 10px;
  }
}

/*desktop menu for projekter*/
.menu a {
  color: #669096;
}

.menu a:hover {
  color: #4a7278;
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}

/*mobil menu for projekter*/
@media screen and (max-width: 800px) {
  nav.active .menu {
    background-color: #c9fbe6;
  }

  .menu a {
    color: #89bca7;
  }

  .menu a:hover {
    color: #649682;
    text-decoration: none;
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-style: normal;
  }

  /*andre ting*/
  .tema {
    width: 400px;
  }

  .emne {
    width: 410px;
  }

  .scroll-arrow {
    padding-top: 7rem;
    padding-left: 5rem;
    width: 300px;
    display: block;
  }
}

/*Alle projekter*/
.projekt {
  height: 550px;
}

/*p'er der skal rykkes ind*/
.movein {
  padding-left: 1.3rem;
}

.ul-movein {
  padding-left: 2rem;
}
.overskrift {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.webside-img {
  width: 800px;
  border-radius: 15px;
  margin-left: 10px;
}

.mobilside-img {
  width: 300px;
  border-radius: 15px;
  margin-left: 10px;
}

.knap {
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  text-align: center;
  padding-top: 0.5rem;
}

.bonus-link {
  color: #59b63ad5;
  font-weight: 600;
}

.bonus-link:hover {
  color: #2e77c19b;
  text-decoration: none;
}
/***********************BONUS DIV MOBIL***************************/
#bonus {
  background-color: #caf9ff;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  color: #68959d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*bonus, hobby titel*/
.bonus {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 4rem;
}

.bonus-button {
  background-color: #8fb6ce;
  margin-left: 10px;
  width: 150px;
}

.bonus-button a {
  color: #6889ad;
  text-decoration: none;
}

.bonus-button:hover {
  box-shadow: 2px 3px 6px #8c468a42;
}

/*babykristen knap*/
.bonus-button2 {
  background-color: #8fb6ce;
  margin-left: 10px;
  width: 200px;
}

.bonus-button2 a {
  color: #6889ad;
  text-decoration: none;
}

.bonus-button2:hover {
  box-shadow: 2px 3px 6px #8c468a42;
}

/*tema 6, portfolio titel*/
.bonus {
  padding-top: 3rem;
  padding-left: 2rem;
}

/*om siden titel*/
.bonus-1 {
  display: none;
}

.omsiden {
  display: block;
  padding-top: 1rem;
}

/*emne, fokus, projektbeskrivelse osv*/
.bonus-2 {
  width: 450px;
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 5rem;
}

/*billede og knap*/
.bonus-3 {
  display: none;
}

.mobil-bonus-3 {
  width: 350px;
  display: block;
  padding: 2rem;
}

.omsiden {
  display: block;
}

.bonus-1 {
  display: none;
}

@media screen and (min-width: 800px) {
  /*************BONUS DIV DESKTOP****************/
  .emne {
    width: 450px;
    padding-top: 0.5rem;
  }

  /*tema 6, portfolio titel*/
  .bonus {
    padding-top: 3rem;
    padding-left: 2rem;
    width: 500px;
  }

  .bonus-1 {
    display: block;
    padding-top: 4rem;
    padding-left: 4rem;
    width: 200px;
  }

  .bonus-2 {
    width: 500px;
    padding-top: 4rem;
  }
  .bonus-3 {
    display: block;
    padding-top: 4rem;
    padding-right: 7rem;
  }

  .quiz {
    width: 100px;
  }

  .mobil-bonus-3 {
    display: none;
  }

  .omsiden {
    display: none;
  }
}
