/*HEADER FOOTER MAIN*/

header {
  background-color: #fef0e0;
  position: sticky;
}

footer {
  color: #836646;
  background-color: #d4b188;
}

main {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffe6ca;
}

body {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    /* box-shadow: inset 0 0 5px grey; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e37474;
    border-radius: 10px;
  }
}

/*desktop menu for projekter*/
.menu a {
  color: #ba698b;
}

.menu-projekter {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
  color: #a35b79;
}

.menu a:hover {
  color: #8d4b66;
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-style: normal;
}

/*mobil menu for projekter*/
@media screen and (max-width: 800px) {
  nav.active .menu {
    background-color: #c9fbe6;
  }

  .menu a {
    color: #89bca7;
  }

  .menu a:hover {
    color: #649682;
    text-decoration: none;
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-style: normal;
  }
}
